<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="/stylesheets/login.css" rel="stylesheet">


</head>

<body>
    <h1>Login</h1>
    <form action="/usuarios/login" method="POST" class="formulario">
        <div class="container">
            <h3>Email</h3>
            <label for="email"></label>
            <input type="email" name="email" placeholder="Digite seu email">
            <h3>Senha</h3>
            <label for="name"></label>
            <input type="password" name="senha" placeholder="Digite sua senha">
            <button type="submit">Entrar</button>
        </div>
    </form>
</body>

</html>